body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgba(25, 28, 31, 0.906);
}

.form {
  margin-top: 20px;
  width: 80%;
  height: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86.8vh;
}

.newColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(#94c9df, #afe9df);
  height: 86.8vh;
}

#number {
  width: 200px;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#bubble {
  width: 200px;
  height: 200px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#death {
  margin-right: 80px;
  width: 30rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.texto {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}

.ask {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  margin-top: 40px;
}

.home {
  background: -moz-linear-gradient(#deafff, #e9e6af);
}

#cake {
  width: 20rem;
}

.contacto {
  background-image: url("src/assets/img/cakePattern.jpg");
}

.marca {
  text-align: center;
  background-color: rgba(25, 28, 31, 0.906);
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
}

.brand {
  justify-content: end;
}

.dir {
  display: flex;
}

#mail {
  margin-left: 40px;
}
